.form {
  text-align: left;
  background-color: white;
  padding: 25px;
  margin: 10px;
  border-radius: 15px;
  min-width: 450px;
}

.checkbox {
  margin: 10px;
  padding: 5px;
  align-self: left;
}
